node_modules/
dist/
.vscode/
.env
.env.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.idea/
*.log
*.tsbuildinfo
.cache/
.next/
out/
build/
public/build/
.svelte-kit/
.vite/
*.local
logs_result_frontend.json